
Nasco-Database-Web-App/import-manifest.xlsx
Nasco-Database-Web-App/output.txt
RusalQRandBarcodeScanner/.idea/deploymentTargetDropDown.xml
Nasco-Database-Web-App/import-manifest.xlsx
Nasco-Database-Web-App/output.txt
Nasco-Database-Web-App/output.txt
Nasco-Database-Web-App/.vs/slnx.sqlite
Nasco-Database-Web-App/.vs/ProjectSettings.json
Nasco-Database-Web-App/.vs/VSWorkspaceState.json
Nasco-Database-Web-App/.vs/Nasco-Database-Web-App/v16/.suo
