#rusal-all {
    background: rgb(255, 255, 255);
    margin: 0 auto;
    width: 1200px;
}

td, th {
    text-align: center;
    padding: 1rem;
}

table {
    width: 90%;
    border-collapse: collapse;
}

.bordered-row {
    border: 1px solid #000;
    border-spacing: .5rem
}

.centered {
    position: absolute; left: 50%; right: 50%;
    transform: translate(-50%, -50%);
}

.center {
    margin : auto;
    width : 50%;
    text-align : center;
}

.center ul {
    display : flex;
    margin : auto;
    width : auto;
    zoom : 1;
    flex-direction: column;
}

.center li {
    text-align : left;
}